<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home -Milenio Oscuro</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/shop-homepage.css" rel="stylesheet">

</head>

<body>


  <footer class= "bg-dark ">
      <div class="container footer_full_width">
        <div class="row text-center line-h-sm">

            <div class="col-md-4 marg-top">
                <p class="text-center text-white">Copyright &copy; Milenio Oscuro </p>
                <p class="text-center text-white d-noneCel">
                  <i class="fab fa-cc-amex fa-2x"></i>
                  <i class="fab fa-cc-visa fa-2x"></i>
                  <i class="fab fa-cc-mastercard fa-2x"></i>
                </p>
            </div>

            <div class="col-md-4 d-noneCel pt-3r">
                <p>
                    <span> <a class="marg-sides" href="#">Categoria A</a> </span>
                    <span> <a class="marg-sides" href="#">Categoria B</a> </span>
                    <span> <a class="marg-sides" href="#">Categoria C</a> </span>
                </p>
           </div>


            <div class="col-md-4 text-center text-white marg-top d-noneCel">
                <p>Subscribite a nuestra Newsletter!</p>
                <form><input type="email" id="email" name="email"></form>
            </div>

        </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>
