
<%- include('head') %>





<div style="margin-top: 300px;" class="container">

    <div style="background-color: rgb(119, 114, 114) ;" class="row">


        <div  class="col-4 ">
            <label class="d-flex justify-content-center align-items-center" for=""> Recibi oferta y promociones</label>
            <div  class="d-flex justify-content-center align-items-center">
            <input type="text" placeholder="Ingresa tu email">
        </div>


            <div class="d-flex justify-content-center align-items-center">
                Visita nuestras redes
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
               
            </div>
        </div>

        <div class="col-4">

            <div>Preguntas frecuentes</div>
            <ul>
                <li>Metodos de Pago</li>
                <li>Metodos y costo de envio </li>

            </ul>
        </div>

        <div class="col-4">
            Conocenos
            <ul>
                <li>¿Quienes somos?</li>
            </ul>
        </div>






    </div>

</div>












<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>