<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registercss.css">
    <title>Register - Milenio Oscuro</title>
</head>
<body>
    <DIV >REGISTRESE AQUI</DIV>
</body>
</html>



