body {
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    background-color: #eee;
   
}



.fa-user:before {
  
    font-size: 24px;
    margin-right: 14px;
}

.fa-shopping-cart:before {
    
    font-size: 24px;
    margin-right: 14px;
}

.navek {
    color: #bbb;
    padding: 3px 5px;

}

#desplegable {
    display: none;
}

span {
    font-family: Lato,sans-serif;
    font-weight: normal;
}

@media (min-width: 1024px){

 #menuTablet {
    display: none !important  ;
} 
}
/*  ------------------------------------- FOOTER-------------------------------*/

#mailOferta {
    width: 75%;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-size: 24px;

}

.flaticon-facebook:before {
    margin-left: 10px;
}







@media (max-width: 480px){

    #esconderNav {
        display: none;
    }

    #desplegable {
        display: unset;
        font-size: 28px;
    }

    #esconderCarrito {
       
        display: none !important;

    }

    .carousel-indicators{
        display: none;
    }

    #logo {
        height: 81%;
        width: 108%;
        padding-left: 5px;
    }

    #colDelLogo {
        padding: 0
    }

    #search {
        height: 30px;
    }

    #anchoSearch{
        width: 34px;

    }

    #colSearch {
        padding-right: 5px;
    }

/* #menuTablet {
    display: none !important;
} */




}

@media (max-width: 768px){


   



    #esconderNav {
        display: none;
    }

    span {
        display: none;
    }

    #colDelLogo {

   /*  padding-left: 15px; */
    padding-right: 0;
    }

    #colSearch {
        height: 43px
    }


    #search{
        height: 29px;
    }

    #anchoSearch {
        height: 29px;
    }

    #esconderCarrito {
        padding-right: 15px;
        padding-left: 0;

    }

    .fa-shopping-cart:before {
        font-size: 24px;
        margin-right: 14px;
}

.fa-user:before {
    font-size: 24px;
    margin-right: 14px;
}



}


/*-------------------------------MENU DESPLEGABLE---------------------------------------------*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #bbb;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #222;
  color: #bbb;
 
  border: none;
}

.openbtn:hover {
  background-color: #222;
}

#main {
  transition: margin-left .5s;
 
  display: flex;
  justify-content: flex-end;
}
 