* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    background: black;
}

.container {
    margin: 0;
    max-width: 900px;
    ;
}
section {
    width: 100%;
    background: black;
    border : 1px solid blue;
}
article {
    width: 25%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    background-color: blanchedalmond;

}
article img {
    width: 100%;

}
article h2 {
    margin-top: 8px;

}
