<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/envios.css">
  <title>Contacto - Milenio Oscuro</title>
</head>

<body>
  <%- include('../partials/headerPrueba') %>
  <!-- <div class="container"> -->
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Contacto...</h5>
              <p class="card-text">Calle 62 3108, Necochea, Buenos Aires, Argentina
                +54-2262591827
                mileniooscurocomics@gmail.com</p>
              <p class="card-text" ><small class="text-muted">Last updated 3 mins ago</small></p>
              <a href="/" class="btn btn-danger" >Pagina Principal</a>
            </div>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9485.557147175947!2d-58.74828600149686!3d-38.55583023803063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x958fbd64730e7a5d%3A0x879ab834b2ae194a!2sCalle%2062%203108%2C%20B7630%20Necochea%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2sus!4v1596411950850!5m2!1ses!2sus" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="yes" aria-hidden="false" tabindex="0" ></iframe>
            </div>  
          </div>
        </div>
      </div>
 <!--  </div> -->    
  <%- include('../partials/footerPrueba') %>
 
</body>

</html>