<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/loginstyle.css">
  <title>Contacto - Milenio Oscuro</title>
</head>

<body>
  <%- include('../partials/headerPrueba') %>
  <div class="card">
    <div class="card-header">
      Milenio Oscuro Comics
    </div>
    <div class="card-body">
      <h5 class="card-title">Envios...</h5>
      <p class="card-text"> En construcción.</p>
      <a href="/" class="btn btn-danger" >Pagina Principal</a>
    </div>
  </div>
  

  <%- include('../partials/footerPrueba') %>
 
</body>