<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/loginstyle.css">
  <title>Contacto - Milenio Oscuro</title>
</head>
<body>
  <%- include('../partials/headerPrueba') %>
  <div class="card">
    <div class="card-header">
      Milenio Oscuro Comics
    </div>
    <div class="py-3" style="height:500px" border: rgb(219, 217, 217) 1px solid;">
      <p class="d-flex justify-content pl-2"><b> Paga con todos los medios</b></p>
      <div class="d-flex justify-content pl-2" >
        <img class="mx-1" width="7%" height="13%"
          src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/c57287e3c97689e9598fe6b80a45f67bfa1ab24c881d2bb6e07664783f358d3d"
          alt="">
        <img class="mx-1" width="7%" height="13%"
          src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/2b02baec5de45de28b27c2d1f23ff6a242ebe947dc2a98f75ba23a855e81920f"
          alt="">
        <img class="mx-1" width="7%" height="13%"
          src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/f36da9316ef09bf88849bb98ab8916e55c09d3afcf1f5bae00167069e2c82e56"
          alt="">
        <img class="mx-1" width="7%" height="13%"
          src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/fecb5357708d4c28143fbb1ba2ad0701ce1c6b9eb99b1eb13ee84fc9b6cd9645"
          alt="">
      </div>
    <div class="card-body">
     <br>
      <a href="/" class="btn btn-danger" >Pagina Principal</a>
    </div>
  </div>
  

  <%- include('../partials/footerPrueba') %>
 
</body>