<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Su pago ha sido exitoso!</h1>
    <h2>Haga click en el boton continuar</h2>
    <a href="/cart/pagoExitoso"><button>Continuar</button></a>
</body>
</html>