<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/loginstyle.css">
  <title>Quienes Somos - Milenio Oscuro</title>
</head>

<body>
  <%- include('../partials/headerPrueba') %>

  <div class=" container">
    <div class="row">

      <div class="card">
        <div class="card-header">
          Quienes Somos
        </div>
        <div class="card-body">
          <h5 class="card-title">Milenio Oscuro Comics & Games nació...</h5>
          <p class="card-text" > ...como un sueño: Traer a nuestro país todo lo que tanto nos gustaba!
            Así, poco a poco, fuimos creciendo y evolucionando. De un pequeño local en la Galería Central, pasamos a una de las avenidas más importantes, para estar en donde nos encontramos hoy, un local perfecto con espacio para mostrarte todos los comics, mangas, boardgames y juegos de mesa a tu disposición, y mesas para que puedas disfrutar de torneos semanales de Magic, Pokémon y Yu-Gi-Oh!
            Te esperamos!.</p>
          <div class="img" >
            <img class="img-responsive" style="width: 100%;" src="/images/team editado.jpg"><br>
            <br>
          </div>  
          <a href="/" class="btn btn-danger" >Pagina Principal</a>
        </div>
      </div>

      <div class="container" >
      <a name="contact"></a>
        <div class="row">
        <div class="card mb-3 col-12" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Encontranos en...</h5>
              <p class="card-text">Calle 62 3108, Necochea, Buenos Aires, Argentina
                +54-2262591827
                mileniooscurocomics@gmail.com</p>
              <p class="card-text" ><small class="text-muted">Last updated 3 mins ago</small></p>
              <a href="/" class="btn btn-danger" >Pagina Principal</a>
            </div>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9485.557147175947!2d-58.74828600149686!3d-38.55583023803063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x958fbd64730e7a5d%3A0x879ab834b2ae194a!2sCalle%2062%203108%2C%20B7630%20Necochea%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2sus!4v1596411950850!5m2!1ses!2sus" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="yes" aria-hidden="false" tabindex="0" ></iframe>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
      
      <div class="card col-12">
        <a name="metodopago"></a>
        <div class="card-header">
          Metodos de Pago
        </div>
        <div class="py-3" style="height:500px" border: rgb(219, 217, 217) 1px solid;">
          <p class="d-flex justify-content pl-2"><b> Paga con todos los medios</b></p>
          <div class="d-flex justify-content pl-3"  >
            <img class="img-responsive" style="width: 100%;" src="/images/metodopago.jpg">
          </div>
          <div class="d-flex justify-content pl-5" >
            <!-- <img class="mx-1" width="7%" height="13%"
            src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/c57287e3c97689e9598fe6b80a45f67bfa1ab24c881d2bb6e07664783f358d3d"
            alt="">
            <img class="mx-1" width="7%" height="13%"
            src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/2b02baec5de45de28b27c2d1f23ff6a242ebe947dc2a98f75ba23a855e81920f"
            alt="">
            <img class="mx-1" width="7%" height="13%"
            src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/f36da9316ef09bf88849bb98ab8916e55c09d3afcf1f5bae00167069e2c82e56"
            alt="">
            <img class="mx-1" width="7%" height="13%"
            src="https://d3lfzbr90tctqz.cloudfront.net/epi/resource/r/d/fecb5357708d4c28143fbb1ba2ad0701ce1c6b9eb99b1eb13ee84fc9b6cd9645"
            alt=""> -->
          </div>
          <div class="card-body">
            <a href="/" class="btn btn-danger" >Pagina Principal</a>
          </div>
        </div>

      </div>
    
      <div class="card col-12">
        <a name="envios"></a>
        <div class="card-header">
          Envios
        </div>
        <div class="card-body" >
          <h5 class="card-title" >Un gran poder conlleva una gran responsabilidad por eso nos encargamos de tus envios!!</h5>
          <p class="card-text" style="font-size: larger;" > Luego de tu compra lo coordinamos!</p><br>
          <div class="d-flex justify-content pl-5" >
            <img class="img-responsive" style="width: 75%;" src="/images/batimoto3.jpg">
            <!-- <img class="mx-5" width="35%" height="60%" src="/images/batimoto2.jpg" > -->
          </div><br>
          <a href="/" class="btn btn-danger" >Pagina Principal</a>
        </div>
      </div>
    
    
    
    </div>

    </div>
  </div>
  
  
 
  <%- include('../partials/footerPrueba') %>
 
</body>