<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/loginstyle.css">
  <title>Quienes Somos - Milenio Oscuro</title>
</head>

<body>
  <%- include('../partials/headerPrueba') %>
  <div class="card">
    <div class="card-header">
      Quienes Somos
    </div>
    <div class="card-body">
      <h5 class="card-title">Milenio Oscuro Comics nació...</h5>
      <p class="card-text"> ...como un sueño: Traer a nuestro país todo lo que tanto nos gustaba!
        Así, poco a poco, fuimos creciendo y evolucionando. De un pequeño local en la Galería Central, pasamos a una de las avenidas más importantes, para estar en donde nos encontramos hoy, un local perfecto con espacio para mostrarte todos los comics, mangas, boardgames y juegos de mesa a tu disposición, y mesas para que puedas disfrutar de torneos semanales de Magic, Pokémon y Yu-Gi-Oh!
        Te esperamos!.</p>
      <a href="/" class="btn btn-danger" >Pagina Principal</a>
    </div>
  </div>
  

  <%- include('../partials/footerPrueba') %>
 
</body>