


<div style="background-color:#222 ;">


    <div style="color: #bbb;" class="container ">

        <div style="background-color: #222 ; padding-bottom: 35px  ;" class="row pt-4 mt-5">


            <div class="col-12 col-md-5  ">
                <!--    <label class="d-flex justify-content-start align-items-center" for=""> Recibi oferta y promociones</label>
            <div  class="d-flex justify-content-start align-items-center">
            <input type="text" placeholder="Ingresa tu email">
        </div> -->
                  <form action="/emails" method="POST">
                <label style="font-weight: bold; font-family: Lato,sans-serif; font-size: 14px;" class="d-flex justify-content-start align-items-center py-2" for="">
                    RECIBI NUESTRAS PROMOCIONES</label>
                <div id="mailOferta" class="input-group">

                    <input id="search" type="text" placeholder="Introducir email" name="email" autocomplete="off" class="form-control "
                        required>
                   
                    <div class="input-group-append">
                      
                           <span id="anchoSearch"
                            class="input-group-text d-flex justify-content-center align-items-center">
                           <button type="submit" style="all: unset; cursor: pointer;"> <i style="color: #495057;" class="far fa-envelope d-flex justify-content-center align-items-center"></i></button>
                        </span>
                   
                    </div>

                </div>
            </form>


                <div class="d-flex justify-content-start align-items-center py-3">
                   <a style="all: unset; cursor: pointer;"href="https://www.facebook.com/MilenioOscuroComics/"><i style="font-size: 20px; color: #bbb;" class="flaticon-facebook"></i></a>
                    <a style="all: unset; cursor: pointer;" href="https://www.instagram.com/mileniooscuro/?hl=es-la"><i style="font-size: 20px; -webkit-text-stroke: 0.6px #222; color: #bbb;" class="flaticon-instagram-sketched"></i></a>
                    <a  style="all: unset; cursor: pointer;"href="https://twitter.com/MilenioOscuro?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i style="font-size: 20px;color: #bbb;" class="flaticon-twitter"></i></a>
                    <a  style="all: unset; cursor: pointer;"href="https://api.whatsapp.com/send?phone=5491134167423"><i style="font-size: 20px; -webkit-text-stroke: 0.6px #222; color: #bbb;" class="flaticon-whatsapp"></i></a>

                </div>
            </div>

            <div class="col-12 col-md-4 ">

                <div style="font-weight: bold; font-family: Lato,sans-serif; font-size: 14px;" class="d-flex justify-content-start align-items-center py-2">PREGUNTAS FRECUENTES</div>

                <a href="/quienes/#metodopago" class="loslinks"><div class="d-flex justify-content-start align-items-center py-1">Metodos de Pago</div></a>
                <a href="/quienes/#envios" class="loslinks"><div class="d-flex justify-content-start align-items-center pb-3 ">Metodos y costo de envío </div></a>


            </div>

            <div class="col-12 col-md-3">
                <div style="font-weight: bold; font-family: Lato,sans-serif; font-size: 14px;" class="d-flex justify-content-start align-items-center py-2"> CONOCENOS
                </div>

                <a href="/quienes" class="loslinks"><div class="d-flex justify-content-start align-items-center py-1">¿Quiénes somos?</div></a>
                <a href="/quienes/#contact" class="loslinks"><div class="d-flex justify-content-start align-items-center">Contacto</div></a>
                    
                
            </div>






        </div>

    </div>

</div>









<script src="/javascripts/menuDesplegable/menuDesplegable.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/buscador/buscador.js"></script>


