


<div style="background-color:#222 ;">


    <div style="color: #bbb;" class="container ">

        <div style="background-color: #222 ; padding-bottom: 35px  ;" class="row pt-4 mt-5">


            <div class="col-12 col-md-5  ">
                <!--    <label class="d-flex justify-content-start align-items-center" for=""> Recibi oferta y promociones</label>
            <div  class="d-flex justify-content-start align-items-center">
            <input type="text" placeholder="Ingresa tu email">
        </div> -->
                  <form action="/" method="POST">
                <label style="font-weight: bold; font-family: Lato,sans-serif; font-size: 14px;" class="d-flex justify-content-start align-items-center py-2" for="">
                    RECIBI NUESTRAS PROMOCIONES</label>
                <div id="mailOferta" class="input-group">

                    <input id="search" type="text" placeholder="Introducir email" name="email" class="form-control "
                        required>
                   
                    <div class="input-group-append">
                      
                           <span id="anchoSearch"
                            class="input-group-text d-flex justify-content-center align-items-center">
                           <button type="submit" style="border: none;"> <i style="color: #495057;" class="far fa-envelope d-flex justify-content-center align-items-center"></i></button>
                        </span>
                   
                    </div>

                </div>
            </form>


                <div class="d-flex justify-content-start align-items-center py-3">
                    <i style="font-size: 20px;" class="flaticon-facebook"></i>
                    <i style="font-size: 20px; -webkit-text-stroke: 0.6px #222;" class="flaticon-instagram-sketched"></i>
                    <i style="font-size: 20px;" class="flaticon-twitter"></i>
                    <i style="font-size: 20px; -webkit-text-stroke: 0.6px #222;" class="flaticon-whatsapp"></i>

                </div>
            </div>

            <div class="col-12 col-md-4 ">

                <div style="font-weight: bold; font-family: Lato,sans-serif; font-size: 14px;" class="d-flex justify-content-start align-items-center py-2">PREGUNTAS FRECUENTES</div>

                <a href="/metodopago"><div class="d-flex justify-content-start align-items-center py-1">Metodos de Pago</div></a>
                <a href="/envios"><div class="d-flex justify-content-start align-items-center pb-3 ">Metodos y costo de envio </div></a>


            </div>

            <div class="col-12 col-md-3">
                <div style="font-weight: bold; font-family: Lato,sans-serif; font-size: 14px;" class="d-flex justify-content-start align-items-center py-2"> CONOCENOS
                </div>

                <a href="/quienes"><div class="d-flex justify-content-start align-items-center py-1">¿Quienes somos?</div></a>
                <a href="/contact"><div class="d-flex justify-content-start align-items-center">Contacto</div></a>
                    
                
            </div>






        </div>

    </div>

</div>









<script src="/javascripts/menuDesplegable/menuDesplegable.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/buscador/buscador.js"></script>
</body>

</html>