<%- include('../partials/headerPrueba') %>

<% if ( typeof errores != 'undefined'){ %>
  <% for ( let error of errores){ %> 
     <p> <%= error.msg %> </p>
    <% }  %>  
<% }  %> 



<div class="container py-5 mt-4 mb_12" style="background-color: white; border: rgb(219, 217, 217) 1px solid;;">

<form id="formulario" action="/admin/alta" method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputEmail4">Nombre del producto</label>
        <input type="text" class="form-control" id="inputEmail4" name="name">
        <span id="errorName" class="ocultar" style="color: red;opacity: 0.7; font-size: 13px;font-weight: 600;" >*Tiene que tener al menos 5 caracteres*</span>
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">Precio del producto:</label>
        <input type="text" class="form-control" id="inputPassword4" name="price">
      </div>
      <div class="form-group col-md-3">
        
        <div class="form-group">
          <label for="disabledTextInput">Precio oferta</label>
          <input type="text"  name="newprice" id="precioNuevo" disabled class="form-control" >
        </div>
     
      </div>

    
    <div class="form-group col-md-1" >
      <div class="custom-control custom-switch">
        <input type="checkbox" name="offer"  class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Oferta</label>
      </div>
  </div>
</div>
    <div class="form-row">
    <div class="form-group col-md-6 ">
      <label for="inputState">Categoria</label>
      <select id="inputState" class="form-control" name="category" required>
        <option selected >Seleccione la categoria</option>
        <option value="videoJuegos">Video juegos</option>
        <option value="comics">Comics</option>
        <option value="juegosDeMesa">Juego de mesa</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="inputCity" style="padding-left: 8px">Imagen del producto</label>
     <!--  <input type="file" class="form-control-file" id="exampleFormControlFile1" style="padding-top: 3px;padding-left: 5px;"> -->
      <input type="file" class="form-control-file"  name="image" accept="image/*" style="padding-top: 3px;padding-left: 5px; " >
    </div>

    <div class="form-group col-md-3">
      <label for="inputCity" style="padding-left: 8px">Imagen del producto</label>
     <!--  <input type="file" class="form-control-file" id="exampleFormControlFile1" style="padding-top: 3px;padding-left: 5px;"> -->
      <input type="file" class="form-control-file"  name="imagetwo" accept="image/*" style="padding-top: 3px;padding-left: 5px; " >
    </div>
   
  </div>
   

      
      
    <div class="form-group">
      <label for="inputAddress2">Descripción</label>
      <input type="text " class="form-control" id="inputAddress2"  name="description"  >
      <span id="errorDescription" class="ocultar" style="color: red;opacity: 0.7; font-size: 13px;font-weight: 600;"  >*Tiene que tener al menos 20 caracteres*</span>
    </div>
   
    <button type="submit" class="btn btn-primary">Subir producto</button>
  </form>

</div>

<script src="/javascripts/validacionAdminEdit/editAdmin.js"></script>

<%- include('../partials/footerPrueba') %>