<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/loginstyle.css">
  <title>Login - Milenio Oscuro</title>
</head>

<body>
  <%- include('../partials/headerPrueba') %>
  <form action="/users/login" method="POST" id="form" onsubmit="return validated()">
    <div class="login-page">
     <div class="form">
      <form class="login-form">
        <input id = "email" type="text" name="email" placeholder="Dirección de email"/>
        <div id = "emailReq" class="dnone req">*Direccion de email invalida</div>
        <input id = "pw" type="password" name="password" placeholder="Contraseña"/>
        <div id = "pwReq" class="dnone req">*El password debe contener al menos 8 letras</div>
        <button id = "submit" class = "mtop" type="submit">Ingresar</button>
        <p class="message">No está registrado? <a href="register">Cree una cuenta</a></p><br>
        <div class="div">
          <p id="record"> 
              <input type="checkbox" name="recordame" value="yes"/>  Recordarme 
          </p>
        </div>     
      </form>
  
      
      
        <% if (typeof errors != 'undefined') { %>
          <ul>
            <% for(let i=0; i < errors.length; i++) { %>
                  <li> 
                    <%=errors[i].msg%>
                  </li>
            <% } %>
          </ul>
        <% } %>
    </div>
  </div>



  <%- include('../partials/footerPrueba') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  
  <script type="text/javascript" src="/javascripts/loginValid.js"></script>

<!-- <script type="text/javascript" src="../../../public/javascripts/loginValid.js"></script> -->



</body>

</html>