<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/profile.css">
    <title>profile2</title>
</head>
<body>
    <div class="container">
        <section>
            <article class="art1">
                <img src="images/comics/avengersinfinito.jpg" alt="avatar">
                <h2>1. Lorem ipsum dolor sit amet consectetur </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Culpa, iure magni. Doloremque dignissimos, id, hic minima,
                     expedita cumque officia ducimus tempora voluptas debitis
                      autem tenetur. Non eveniet rerum deleniti unde!</p>
            </article>

            <article class="art2">
                <img src="images/users/avatar.jpg" alt="avatar">
                <h2>1. Lorem ipsum dolor sit amet consectetur </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Culpa, iure magni. Doloremque dignissimos, id, hic minima,
                     expedita cumque officia ducimus tempora voluptas debitis
                      autem tenetur. Non eveniet rerum deleniti unde!</p>
            </article>

            <article class="art3">
                <img src="images/users/avatar.jpg" alt="avatar">
                <h2>1. Lorem ipsum dolor sit amet consectetur </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
                    elit. Culpa, iure magni. Doloremque dignissimos, id, hic minima,
                     expedita cumque officia ducimus tempora voluptas debitis
                      autem tenetur. Non eveniet rerum deleniti unde!</p>
            </article>


        </section>

    </div>
    
</body>
</html>