<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registercss.css">
    <title>Register - Milenio Oscuro</title>
    </head>
<body>
  <%- include('../partials/headerPrueba') %>
    <form action="/users/Register" method="POST" id="form" onsubmit="return validated()">
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" name="name" placeholder="Nombre" id="name"/>
          <div id = "nameReq" class="dnone req">*El nombre debe tener Minimo 3 letras y maximo 15</div>
          <input type="text" name="email" placeholder="Dirección de email" id="email"/>
          <div id = "emailReq" class="dnone req">*Direccion de email invalido</div>
          <input type="password" name="password" placeholder="Contraseña" id="pw"/>
          <div id = "pwReq" class="dnone req">*El password debe contener al menos 8 letras</div>
  
          <label class="my-2" for="">¡Elegí tu avatar!</label>
          <div class="my-4" style="display: flex; justify-content: center;">
            <div style=" box-shadow: 1px 2px 5px; color: #5f5858;">
              <img class="my-2" style="border-radius: 50%; width: 50.5%; " src="/images/avatars/capitanAmerica_icono.jpg" alt="">
              <input required name="avatars" value="capitanAmerica_icono.jpg" type="radio">
            </div>
            <div style=" box-shadow: 1px 2px 5px; color: #5f5858;" class="mx-2">
              <img class="my-2" style="border-radius: 50%; width:  50.5%; " src="/images/avatars/batman_icono.jpg" alt="">
            <input name="avatars" value="batman_icono.jpg" type="radio">
          </div>
          <div style=" box-shadow: 1px 2px 5px; color: #5f5858;">
            <img class="my-2" style="border-radius: 50%; width:  50.5%; " src="/images/avatars/flash_icono.jpg" alt="">
            <input name="avatars" value="flash_icono.jpg" type="radio"><br>
          </div>
          </div>
          
            <div class="my-4" style="display: flex; justify-content: center;">
              <div style=" box-shadow: 1px 2px 5px; color: #5f5858;">
                <img class="my-2" style="border-radius: 50%; width: 50.5%; " src="/images/avatars/hulk_icono.jpg" alt="">
              <input name="avatars" value="hulk_icono.jpg" type="radio">
            </div>
            <div style=" box-shadow: 1px 2px 5px; color: #5f5858;" class="mx-2">
              <img class="my-2" style="border-radius: 50%; width: 50.5%; " src="/images/avatars/spideman_icono.jpg" alt="">
            <input name="avatars" value="spideman_icono.jpg" type="radio">
          </div>
          <div style=" box-shadow: 1px 2px 5px; color: #5f5858;">
            <img class="my-2" style="border-radius: 50%; width: 50.5%; " src="/images/avatars/superman_icono.jpg" alt="">
            <input name="avatars" value="superman_icono.jpg" type="radio">
          </div>
          </div>
       




          <button type="submit">Registrarse</button>
          <p class="message">Ya registrado? <a href="login">Inicia sessión</a></p>
        </form>
        <br>
        <% if (typeof errors != 'undefined') { %>
          <ul>
            <% for(let i=0; i < errors.length; i++) { %>
                  <li> 
                    <%=errors[i].msg%>
                  </li>
            <% } %>
          </ul>
        <% } %>
        <% if (typeof registrado != "undefined") { %>
          <ul>
            
                  <li> 
                   El email ya se encuentra registrado
                  </li>
            
          </ul>
        <% } %>
      </div>
    </div>
  </form>

  <%- include('../partials/footerPrueba') %>

      <script src="/js/register.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>



