<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registercss.css">
    <title>Register - Milenio Oscuro</title>
</head>
<body>
  <%- include('../partials/headerPrueba') %>
  <form action="/users/Register" method="POST" id="form">
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" name="name" placeholder="nombre/name"/>
          <input type="text" name="email" placeholder="direccion de email/email address"/>
          <input type="password" name="password" placeholder="contraseña/password"/>
          <button type="submit">Registrarse</button>
          <p class="message">Ya registrado? <a href="login">Log in Page</a></p>
        </form>
        <br>
        <% if (typeof errors != 'undefined') { %>
          <ul>
            <% for(let i=0; i < errors.length; i++) { %>
                  <li> 
                    <%=errors[i].msg%>
                  </li>
            <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  </form>

  <%- include('../partials/footerPrueba') %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>



